.abe-table {
  width: 100%;
  border-collapse: collapse;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  th,
  td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f3f4f6;
  }
}
.status {
  border-radius: 24px;
  font-weight: 600;
  width: fit-content;
  padding: 4px 12px;
}
.status.active {
  background: #ecfdf3;
  color: #12b76a;
}
.status.pending {
  background: #fff4c5;
  color: #fda712;
}
.status.banned {
  background: #edeef1;
  color: #3d424f;
}
