.abe-list-page {
  font-family: "SF Pro Display";
  background-color: #d9d9d9;
  .__header {
    background-color: #fff;
    height: 68px;
    border-bottom: 1px solid #edeef1;
    padding: 16px;
  }
  .__header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
  }
  .__content {
    margin: 16px;
    background-color: #fff;
    min-height: calc(100vh - 68px - 32px);
    .__content-header {
      padding: 16px 24px;
    }
  }
  .ant-pagination {
    border-radius: 8px;
    padding: 8px 16px;
  }

  .ant-pagination-item-active {
    background-color: #edeef1 !important;
    a {
      color: #1d2939 !important;
    }

    border-radius: 8px;
  }

  .ant-pagination-item {
    border: none;
    color: #475467;
    background-color: transparent;
  }

  .ant-pagination-next > .ant-pagination-item-link,
  .ant-pagination-prev > .ant-pagination-item-link {
    color: #667085;
  }
  .ant-pagination-total-text {
    position: absolute;
    left: 0;
    margin-left: 8px;
    margin-right: 16px;
    font-weight: 500;
    color: #333;
  }
}
